:root {
    --darkblue: #001B2E;
    --blue: #2E86AB;
    --platinum: #D8DBE2;
    --orange: #FF715B;
}

/* Start element selectors */
body{
    background-color: var(--platinum);
    font-family: 'Helvetica', 'Sans Serif', 'Lucida Console';
}

footer{
    text-align: center;
    background-image: linear-gradient(180deg, var(--darkblue), #20394b);
    color: var(--platinum);
    padding: 10px 0px;
    height: auto;
    margin-top: 10px;
}

/* End element selectors */





/* Start class selectors */
.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    background-image: linear-gradient(180deg, var(--blue), var(--darkblue));
    color: #FFFFFF;
    padding: 25px;
    font-size: auto;
}

.header h1 {
    height: auto;
    font-family: 'Helvetica', 'Papyrus', 'Sans serif';
    color:var(--platinum);
    text-shadow: 6px 6px 8px #8b8685;
    font-size: 1.5em;
    padding: 0px;
}

.header h2 {
    font-family: 'Helvetica', 'Papyrus', 'Sans serif';
    color:var(--platinum);
    text-shadow: 6px 6px 8px #8b8685;
}

.mainnav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
    color: aqua;
}

.navlinks {
    font-family: 'bebas neue', 'helvetica';
    font-size: xx-large;
    line-height: 2em;
    text-transform: none;
    text-decoration: none;
    color: var(--orange);
}


/* .header nav ul li{
    display: block;
    align-content: flex-start;
    float:right;
    flex-wrap: wrap;
    padding-left: 20px;
    font-weight: 300;
    font-style: italic;
    
    justify-content: flex-end;
    align-content: center;
    background-color: blueviolet;
    padding: 0.5lh;
    width: 150px;
    height: 100%;
    font-size: large;
} */

.headings {
    font-family: 'Bebas Neue';
    font-size: 40px;
    color: var(--darkblue);
    letter-spacing: 6px;
    padding-left: 5%;
}

.secondaryheader {
    border-bottom: 2px solid var(--darkblue);
    margin: 20px 10px;
}

.contact{
    display: block;
    border-style: solid;
    border-color: aqua;
    margin: 20px 0px 20px 10px;
    width: 100%;
    height: auto;
}

.content{
    color: var(--darkblue);
    font-family: 'helvetica', 'sans serif';
    font-style: oblique;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-left: 33%;
    padding: 5px 15px;
    height: auto;
    line-height: 2em;
    border-left-style: dotted;
    border-left-color: var(--blue);
}


/* using grid on project display */

/* .projectdisplay {
    background-color: white;
    margin-right: 1%;
    margin-left: 33%;
    border-left-style: dotted;
    border-left-color: var(--blue);
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
} */


/* using flex on project display */

.projectdisplay{
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-left: 33%;
    border-left-style: dotted;
    border-left-color: var(--blue);
}

.project1 {
    position: relative;
    background-image: url(../images/p1.jpg);
    background-position: bottom;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin: 1%;
    border: 5px solid var(--blue)
}

#p-1, #p-2, #p-3 {
    position: absolute;
    color: var(--darkblue);
    background-color: var(--blue);
    bottom: 5px;
    left: 0px;
}

.project2 {
    position: relative;
    background-image: url(../images/p2.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 48%;
    margin: 1%;
    border: 5px solid var(--orange);
}

/* #p-2{
    position: absolute;
    bottom: 10px;
    background-color: var(--blue);
    font-family: 'Helvetica', 'Sans Serif';
} */

/* .projects {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-left: 33%;
    border-left-style: dotted;
    border-left-color: blue;
    width: 100%;
    height: 200px;
    background-color: cyan;
} */

.project3 {
    position: relative;
    background-image: url(../images/p3.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 48%;
    margin: 1%;
    border: 5px solid var(--orange);
}



.contact-information{
    /* background-color: darkorchid; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
    margin-right: 5%;
    margin-left: 33%;
    border-left-style: dotted;
    border-left-color: var(--blue);
    font-weight: bolder;
}

.imgcaption{
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
/* End class selectors */









/* Start id selectors */

#profile-pic{
    border-radius: 60px;
}

#phone, #mail, #linkedin, #github {
    /* background-color: deeppink; */
    text-align: left;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 5px 5px;

}

#phone p, #mail a, #linkedin a, #github a{
    padding-left: 5px;
    /* display: flex;
    justify-content: space-between;
    align-content: space-between; */
    text-decoration: none;
    color: var(--orange);
}

#mail:hover, #linkedin:hover, #github:hover {
    cursor: pointer;
}

#mail:visited, #linkedin:visited, #github:visited {
    color: aqua;
}

/* End id selectors */







/* Media Queries */
@media screen and (max-width: 1300px) {
    .header {
    /* .header h1,
    .header nav ul li { */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 10px;
    }

    .header h2{
        text-align: center;
        align-content: center;
    }

    /* .navlinks ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } */

    .mainnav{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .navbar {
        text-align: center;
        font-size: small;
    }

    .navbar ul li {
        display: inline-block;
        list-style-type: none;
        padding: 3px;
        color: aqua;
    }

    .navlinks {
        font-family: 'bebas neue', 'helvetica';
        line-height: .4em;
        text-transform: none;
        text-decoration: none;
        font-size: large;
        text-align: center;
        color: var(--blue);
    }

    .content{
        color: var(--darkblue);
        font-family: 'helvetica', 'sans serif';
        font-style: oblique;
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
        margin-left: 5%;
        padding: 5px 15px;
        height: auto;
        line-height: 2em;
        border-left-style: dotted;
        border-left-color: var(--blue);
    }


    .projectdisplay{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-right: 5%;
        margin-left: 5%;
    }

    .project2 {
        position: relative;
        height: 300px;
        width: 100%;
    }

    .project3 {
        position: relative;
        height: 300px;
        width: 100%;
    }

    .contact-information{
        /* background-color: darkorchid; */
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 10px;
        margin-right: 5%;
        margin-left: 5%;
        border-left-style: dotted;
        border-left-color: var(--blue);
        font-weight: bolder;
    }

  }

/* @media screen and (min-width: 425px) {
    #p-1 {
        position: relative;
        z-index: 10;
        bottom: 70px;
        color: var(--darkblue);
        border: 3px solid var(--orange);
        height: auto;
        width: auto;
        padding: 10px 10px;
        font-style: italic;
        font-size: larger;
        font-weight: bolder;
    } 
} */