:root {
    --darkblue: #001B2E;
    --blue: #2E86AB;
    --platinum: #D8DBE2;
    --orange: #FF715B;
}

/* Start element selectors */
body{
    background-color: var(--platinum);
    font-family: 'Helvetica', 'Sans Serif', 'Lucida Console';
    width: 100%;
}

footer{
    text-align: center;
    background-image: linear-gradient(180deg, var(--darkblue), #20394b);
    color: var(--platinum);
    padding: 10px 0px;
    height: auto;
    margin-top: 10px;
    line-height: 1.3em;
}

/* Start class selectors */
.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    background-image: linear-gradient(180deg, var(--blue), var(--darkblue));
    color: #FFFFFF;
    padding: 25px;
    font-size: auto;
}

.header h1 {
    height: auto;
    font-family: 'Helvetica', 'Sans serif';
    color:var(--platinum);
    text-shadow: 6px 6px 8px #8b8685;
    font-size: 35px;
    padding: 0px;
}

.header h2 {
    font-family: 'Helvetica', 'Sans serif';
    color:var(--platinum);
    text-shadow: 6px 6px 8px #8b8685;
    font-size: 20px;
}

/* Following selectors were created to control the style of the navbar within the header, but to be treated as a separate element */
.mainnav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
}

.navlinks {
    font-family: 'bebas neue', 'copperplate', 'helvetica', 'sans serif';
    font-size: xx-large;
    line-height: 2em;
    letter-spacing: 0.05em;
    text-transform: none;
    text-decoration: none;
    color: var(--orange);
    border-bottom-style: solid;
}

.navlinks:hover {
    color: var(--platinum)
}


/* Class to style the caption from the background image */
.imgcaption {
    font-family: 'Bebas Neue', 'Helvetica', 'Sans Serif';
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

/* Class selectors to style the headings of the main content page */
.secondaryheader {
    border-bottom: 2px solid var(--darkblue);
    margin: 20px 10px;
}

.headings {
    font-family: 'Bebas Neue', 'Helvetica', 'sans serif';
    font-size: 40px;
    color: var(--darkblue);
    letter-spacing: 6px;
    padding-left: 5%;
}

.abmecontent{
    color: var(--darkblue);
    font-family: 'helvetica', 'sans serif';
    font-style: oblique;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-left: 33%;
    padding: 5px 15px;
    height: auto;
    line-height: 2em;
    border-left-style: dotted;
    border-left-color: var(--blue);
}

/* These selectors control the styling of the Work/Projects section */
.projectdisplay{
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-left: 33%;
    border-left-style: dotted;
    border-left-color: var(--blue);
}

.project1 {
    position: relative;
    background-image: url(../images/p1.jpg);
    background-position: bottom;
    background-size: cover;
    height: 550px;
    width: 100%;
    opacity: .7;
    margin: 1%;
    border: 5px solid var(--darkblue)
}

.project2 {
    position: relative;
    background-image: url(../images/p2.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 48%;
    margin: 1%;
    border: 5px solid var(--darkblue);
    opacity: .7;
}

.project3 {
    position: relative;
    background-image: url(../images/p3.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 48%;
    margin: 1%;
    border: 5px solid var(--darkblue);
    opacity: .7;
}

.project4 {
    position: relative;
    background-image: url(../images/p4.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 48%;
    margin: 1%;
    border: 5px solid var(--darkblue);
    opacity: .7;
}

.project5 {
    position: relative;
    background-image: url(../images/p6.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 48%;
    margin: 1%;
    border: 5px solid var(--darkblue);
    opacity: .7;
}

.project6 {
    position: relative;
    background-image: url(../images/p7.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 48%;
    margin: 1%;
    border: 5px solid var(--darkblue);
    opacity: .7;
}




#p-1, #p-2, #p-3, #p-4, #p-5, #p-6 {
    position: absolute;
    color: var(--darkblue);
    background-color: var(--blue);
    bottom: 20px;
    left: 0px;
    font-family: 'Bebas Neue', 'Helvetica', 'Sans Serif';
    font-size: 1.8em;
    line-height: 1.2em;
    padding: 5px 1px;
}

/* Adds styling to the images so that they have more opacity on hover */
.project1:hover, .project2:hover, .project3:hover, .project4:hover, .project5:hover, .project6:hover {
    opacity: .9;
}


/* Last section of the page before the footer */

.contact-information{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
    margin-right: 5%;
    margin-left: 33%;
    border-left-style: dotted;
    border-left-color: var(--blue);
    font-weight: bolder;
}


/* Specific ID selectors */

#profile-pic{
    border-radius: 60px;
}

#phone, #mail, #linkedin, #github {
    text-align: left;
    display: flex;
    align-items: center;
    padding: 5px 5px;
}

#phone p, #mail a, #linkedin a, #github a{
    padding-left: 5px;
    text-decoration: none;
    color: var(--orange);
}

#mail a:hover, #linkedin a:hover, #github a:hover {
    cursor: pointer;
    color: var(--blue);
}

/* Media Queries to make the desing Responsive */

@media screen and (max-width: 1842px) {
    .header {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
          padding: 10px;
        }
    
        .header h1, .header h2{
            text-align: center;
            align-content: center;
        }

        .navbar ul li {
            padding: 8px;
        }

        .navlinks{
            line-height: 1em;
        }
}

@media screen and (max-width: 900px) {

    .navlinks {
        color: var(--blue);
    }

    .abmecontent{
        margin-right: 5%;
        margin-left: 5%;
    }


    .projectdisplay{
        flex-direction: column;
        flex-wrap: nowrap;
        margin-right: 5%;
        margin-left: 5%;
    }

    .project2, .project3, .project4 {
        height: 300px;
        width: 100%;
    }

    .contact-information {
        flex-direction: column;
        margin-left: 5%;
    }

    .imgcaption {
        font-family: 'Bebas Neue', 'Helvetica', 'Sans Serif';
        text-transform: uppercase;
        text-align: center;
        font-size: 1em;
    }

}

@media screen and (max-width: 535px) {
    .navlinks {
        font-size: x-large;
    }
    .navbar {
        text-align: center;
    }
}