:root {
    --darkblue: #001B2E;
    --blue: #2E86AB;
    --platinum: #D8DBE2;
    --orange: #FF715B;
}






/* Start element selectors */
body{
    background-color: var(--platinum);
    font-family: 'Helvetica', 'Sans Serif', 'Lucida Console';
}

footer{
    text-align: center;
    background-image: linear-gradient(180deg, var(--darkblue), #20394b);
    color: var(--platinum);
    padding: 10px 0px;
    height: auto;
    margin-top: 10px;
}

/* End element selectors */









/* Start class selectors */
.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    background-image: linear-gradient(180deg, var(--blue), var(--darkblue));
    color: #FFFFFF;
    padding: 25px;
    border-style: solid;
    border-color: brown;
    font-size: auto;
}

.header h1 {
    height: auto;
    font-family: 'Helvetica', 'Papyrus', 'Sans serif';
    color:var(--platinum);
    text-shadow: 6px 6px 8px #8b8685;
    font-size: 1.5em;
    padding: 0px;
}

.header h2 {
    font-family: 'Helvetica', 'Papyrus', 'Sans serif';
    color:var(--platinum);
    text-shadow: 6px 6px 8px #8b8685;
}

.navlinks li {
    display: inline-block;
    padding: 10px;
    background-color: rgb(20, 213, 220);
    /* flex-direction: row;
    justify-content: flex-end; */
}

/* .header nav ul li{
    display: block;
    align-content: flex-start;
    float:right;
    flex-wrap: wrap;
    padding-left: 20px;
    font-weight: 300;
    font-style: italic;
    
    justify-content: flex-end;
    align-content: center;
    background-color: blueviolet;
    padding: 0.5lh;
    width: 150px;
    height: 100%;
    font-size: large;
} */

.headings {
    font-family: 'Bebas Neue';
    font-size: 40px;
    color: var(--darkblue);
    letter-spacing: 6px;
    padding-left: 5%;
}





.secondaryheader {
    border-bottom: 2px solid var(--darkblue);
    margin: 20px 10px;
}

.contact{
    display: block;
    border-style: solid;
    border-color: aqua;
    margin: 20px 0px 20px 10px;
    width: 100%;
    height: auto;
}

.content{
    color: var(--darkblue);
    font-family: 'helvetica', 'sans serif';
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;
    height: auto;
}

.content p {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    margin-right: 30px;
    margin-left: 33%;
    border-left-style: dotted;
    border-left-color: var(--blue);
    width: 100%;
    height: auto;
    font-style: oblique;
    line-height: 2em;
}

.content ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-left: 33%;
    border-left-style: dotted;
    border-left-color: blue;
    width: 100%;
    height: 200px;
    background-color: rgb(55, 0, 255);

}

.projectdisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    margin-left: 33%;
    border-left-style: dotted;
    border-left-color: blue;
    background-color: cyan;
}

.projects {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-left: 33%;
    border-left-style: dotted;
    border-left-color: blue;
    width: 100%;
    height: 200px;
    background-color: cyan;
}

.contact-information{
    /* background-color: darkorchid; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
    margin-right: 30px;
    margin-left: 33%;
    border-left-style: dotted;
    border-left-color: var(--blue);
    font-weight: bolder;
}

.imgcaption{
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
/* End class selectors */









/* Start id selectors */
#emoji::after {
    content: "\1F477";
    
}

#profile-pic{
    border-radius: 60px;
}


#p-1 {
    color: white;
    background-color: rgb(34, 139, 125);
    background-size: 100%;
    display: block;
    height: 65px;
    width: 100%;
    border: 3px solid var(--orange);
}

#p-2{
    color: red;
    padding-left: 10px;
    background-color: forestgreen;
    display: block;
    height: 60px;
    width:60px
}

#p-3{
    color:orange;
    background-color: forestgreen;
    display: block;
    height: 60px;
    width:60px
}

#proj-1, #proj-2, #proj-3 {
    display: flex;
    background-color: crimson;
}

#phone, #mail, #linkedin, #github {
    /* background-color: deeppink; */
    text-align: left;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 5px 5px;

}

#phone p, #mail a, #linkedin a, #github a{
    padding-left: 5px;
    /* display: flex;
    justify-content: space-between;
    align-content: space-between; */
    text-decoration: none;
    color: var(--orange);
}

#mail:hover, #linkedin:hover, #github:hover {
    cursor: pointer;
}

#mail:active, #linkedin:active, #github:active {
    color: aqua;
}

/* End id selectors */







/* Media Queries */
@media screen and (max-width: 1069px) {
    .header {
    /* .header h1,
    .header nav ul li { */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
    };

    .header h2{
        text-align: center;
    }
  }